<form
  [formGroup]="formulario"
  (ngSubmit)="resetPassword()"
  class="flex flex-col space-y-2"
>
  <app-input validate formControlName="email" type="email" placeholder="Email">
  </app-input>
  <app-button
    styleClass="my-2"
    text="Resetear"
    variant="primary"
    type="submit"
    [disabled]="!formIsValid()"
  ></app-button>
  <app-button
    styleClass="my-1"
    text="Iniciar sesión"
    type="button"
    variant="outline-primary"
    (click)="handleLoginButton()"
  ></app-button>
</form>
