<div [class]="styleClass">
  <label
    for="first_name"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
    >{{ label }}</label
  >
  <input
    [type]="type"
    [value]="value"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-2 focus:ring-opacity-50 block w-full p-2.5"
    [placeholder]="placeholder"
    [disabled]="disabled"
    (input)="onInput($event)"
    [ngClass]="{
      'focus:border-primary': isValid,
      'focus:ring-primary': isValid,
      'focus:border-red-400': !isValid,
      'focus:ring-red-400': !isValid
    }"
  />
</div>
