<form
  [formGroup]="formulario"
  (ngSubmit)="changePassword()"
  class="flex flex-col space-y-2"
>
  <app-input validate formControlName="email" type="email" placeholder="Email">
  </app-input>
  <app-input-password
    validate
    formControlName="password"
    placeholder="Nueva contraseña"
  ></app-input-password>
  <app-input-password
    validate
    formControlName="confirmPassword"
    placeholder="Confirmar contraseña"
  ></app-input-password>
  <app-button
    styleClass="my-2"
    text="Cambiar contraseña"
    variant="primary"
    type="submit"
    [disabled]="!this.formIsValid()"
  ></app-button>
</form>
