<div [class]="styleClass">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
    >{{ label }}</label
  >
  <div class="relative w-full">
    <input
      [type]="type"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-2 focus:ring-opacity-50 block w-full p-2.5"
      [placeholder]="placeholder"
      (input)="onInput($event)"
      [ngClass]="{
        'focus:border-primary': isValid,
        'focus:ring-primary': isValid,
        'focus:border-red-400': !isValid,
        'focus:ring-red-400': !isValid
      }"
    />
    <button
      type="button"
      (click)="handleButtonClick()"
      class="absolute top-0 right-0 p-2.5 text-sm font-medium text-primary"
    >
      <svg-icon
        *ngIf="isPassword"
        [applyClass]="true"
        class="fill-primary"
        [svgStyle]="{ 'width.px': 20, 'height.px': 20 }"
        src="assets/svg/eye-on.svg"
      ></svg-icon>
      <svg-icon
        *ngIf="!isPassword"
        [applyClass]="true"
        class="fill-primary"
        [svgStyle]="{ 'width.px': 20, 'height.px': 20 }"
        src="assets/svg/eye-off.svg"
      ></svg-icon>
    </button>
  </div>
</div>
